{% extends 'base.html' %}
{% block content %}
  <div class="row m-t-2">
    <button type="button" onclick="startLogin()">Login</button>
  </div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script>
  function startLogin() {
      if (typeof web3 !== 'undefined') {
        checkWeb3(function (loggedIn) {
          if (!loggedIn) {
            if (window.ethereum) {
              window.web3 = new Web3(ethereum);
              try {
                // Request account access if needed
                ethereum.enable();
              } catch (error) {
                // User denied account access…
                console.log(error)
              }
            } else if (window.web3) {
              // Legacy dapp browsers…
              window.web3 = new Web3(web3.currentProvider);
            } else {
              // Non-dapp browsers…
              console.log(
                'Non-Ethereum browser detected. You should consider trying Status!'
              );
            }
            console.log(web3);
          } else {
            var login_url = '{% url 'web3auth_login_api' %}';
            web3Login(login_url, console.log, console.log, console.log, console.log, console.log, function (resp) {
              window.location.replace(resp.redirect_url);
            });
          }
        });

      } else {
        alert('web3 missing');
      }
    }
  </script>
{% endblock javascript %}