{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
  <style>
  #id_username {
      width: 400px;
  }
  </style>
  <div class="row">
    <p>Step One: Install Metamask and add the Tao network. You can find instructions <a href="https://tao.network/get-started/" target="_blank">here</a>.
    <p>Step Two: Copy your address from Metamask by clicking on it as in the image below.
    </p>
    <img src="{% static 'img/sample.png' %}" />
    <p>Step Three: Paste your 0x address in the box below and click "Sign Up"</p>
  </div>
  <div class="row m-t-2">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="col-md-4"> <button type="submit" class="btn btn--primary type--uppercase">Sign up!</button> </div>
        <p><a href="/auto_login">If you already have an account, click here to login with Metamask.</a></p>
    </form>
  </div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script>
    /*
  	alert();
	$(document).ready(function() {
		    // Handler when all assets (including images) are loaded
		    startLogin();
		    const publicAddress = web3.eth.coinbase.toLowerCase();
		    console.log(publicAddress);
	});
    function startLogin() {
      if (typeof web3 !== 'undefined') {
        checkWeb3(function (loggedIn) {
          if (!loggedIn) {
            if (window.ethereum) {
              window.web3 = new Web3(ethereum);
              try {
                // Request account access if needed
                ethereum.enable();
              } catch (error) {
                // User denied account access…
                //console.log(error)
              }
            } else if (window.web3) {
              // Legacy dapp browsers…
              window.web3 = new Web3(web3.currentProvider);
            } else {
              // Non-dapp browsers…
              console.log(
                'Non-Ethereum browser detected. You should consider trying Status!'
              );
            }
            console.log(web3);
          } else {
            const publicAddress = web3.eth.coinbase.toLowerCase();
            console.log(publicAddress);
          }
        });

      } else {
        alert('web3 missing');
      }
    }
    */
  </script>
{% endblock javascript %}